.hudText {
    -unity-font: url('project://database/Assets/Fonts/Fingerprint/Fingerprint.ttf?fileID=12800000&guid=cf2ccc5fc4bc548a18514c5be96b0dd9&type=3#Fingerprint');
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

.hudTextContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
}
